@using FoodDelivery.Views.Manage

<ul class="nav nav-pills flex-column">
    <li><a asp-action="Index" class="nav-item nav-link @ManageNavPages.IndexNavClass(ViewContext)">Manage</a></li>
    <li><a asp-action="ChangePassword" class="nav-item nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a></li>
</ul>

