@model FoodDelivery.DTO.Menu.DiscountDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete this?</h2>
<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Discount" asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" class="form-control" hidden />
                <div class="form-group">
                    <label asp-for="Percentage" class="control-label"></label>
                    <input asp-for="Percentage" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <span class="ml-3">|</span><a asp-action="Index" class="ml-2">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
