@model List<FoodDelivery.DTO.Purchase.PurchaseDTO>
@{
    ViewData["Title"] = "AllPurchases";
}
<h3>Your purchases</h3>
@foreach (var item in Model)
{
    <div class="card card-item">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="card-inline-cart">
                        <div class="item-description-cart ">
                            <p style="margin-top: 20px;">Date of submition: @item.SubmittedTime</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <h3 style="margin-top: 10px;">@item.TotalPrice $</h3>
                </div>
                <div class="col-md-2">
                    <a style="margin-top:10px" asp-controller="Purchase" asp-action="ItemsInSelectedPurchase" asp-route-purchaseId="@item.Id" class="btn btn-success">View Details</a>
                </div>
                </div>
            </div>
    </div>
}

